@charset "utf-8";
/*Css Document*/ 
body{
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background-image:url(bloodybg.jpg);
	font-family: 'Special Elite', cursive;


}

@keyframes flash {
    0%   { background-color: rgba(255, 255, 255, 0.37); }
    49% { background-color: rgba(150, 146, 146, 0.438); }
    50% { background-color: rgba(0, 0, 0, 0.966); }
    99% { background-color: rgba(150, 146, 146, 0.438); }
    100% { background-color: rgba(255, 255, 255, 0.37); }
  }

body #wrapper {
    /*flashing bg*/
    animation: flash 1s infinite;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    overflow: auto;
    background: rgba(0, 0, 0, 0.384);
    padding: 30px;
}

#wrapper {
	width: 100%;
	height: auto;
	min-height: 500px;
}
#game{
		width: auto;
	height: auto;
}

.container{
	padding: 50px 0px;
	text-align: center;

}
h1{
	margin-bottom: 100px;

}
.head{
	margin-top: -205px;

}

img {
    width: 15%;
  height: 15%;
}
.coinBox img {
  float: left;
  width: 300px;
  height: auto;
  padding-top: 130px;
padding-bottom: 55px;
padding-left: 100px;
padding-right: 100px;
}
	
.coinBox::after {
	/* Clearfix (clear floats) */
  content: "";
  clear: both;
  display: table;

}

#spin {
   -webkit-animation-name: spinner; 
  -webkit-animation-timing-function: linear; 
  -webkit-animation-iteration-count: infinite; 
  -webkit-animation-duration: 2s; 
  animation-name: spinner; 
  animation-timing-function: linear; 
  animation-iteration-count: infinite; 
  animation-duration: 2s; 
  -webkit-transform-style: preserve-3d; 
  -moz-transform-style: preserve-3d; 
  -ms-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}


/* WebKit and Opera browsers */ 
@-webkit-keyframes spinner { 
  from 
  { 
    -webkit-transform: rotateY(0deg); 
  } 
  to { 
    -webkit-transform: rotateY(-360deg); 
  } 
} 
/* all other browsers */ 
@keyframes spinner { 
   from { 
    -moz-transform: rotateY(0deg); 
    -ms-transform: rotateY(0deg); 
    transform: rotateY(0deg); 
   } 
   to 
   { 
    -moz-transform: rotateY(-360deg); 
    -ms-transform: rotateY(-360deg); 
    transform: rotateY(-360deg); 

   } 
}
